// brealpoints
$desktop: 1280px;
$tablet: 768px;
$md-phone: 475px;

// fonts
$primary-font: Roboto,
Arial,
sans-serif;
$medium-font: 500;
$primary-color: #ffffff;
$secondary-color: #7b00ff;
$base-color: #000000;

// colors
$bg-color: #010145;
$bg-color-additonal: #9b0202;